<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.graduation.hp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".core.HPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.graduation.hp.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.navigation.NavigationTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.NAVIGATION_TAB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AUTH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.navigation.news.detail.NewsDetailActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.NEWS_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.navigation.user.center.UserCenterActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_CENTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SETTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.navigation.user.info.UserInfoActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".core.ui.crop.AvatarCropWindowActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.navigation.post.create.PostCreationActivity" />

        <provider
            android:name=".app.fileprovider.AppFileProvider"
            android:authorities="com.graduation.hp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>